/* Pretendard */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

/* 대암 이태준 체 */
@font-face {
  font-family: "DAEAM_LEE_TAE_JOON";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/DAEAM_LEE_TAE_JOON.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* Warhaven */
@font-face {
  font-family: "WarhavenB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/WarhavenB.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
